
 /* Set black background color, white text and some padding */
 footer {
    background-color: #555;
    color: white;
    padding: 15px;
    font-family: 'Quicksand', sans-serif;

    font-size: 15px;
    font-weight: bold;
  }

div.recommendedArtistByWords table-responsive-md {
  
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;

}


div.table-responsive-md{
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
}

body{
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

head{
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: normal;
}

div.followBtn{
  justify-content: center;
}
